<!-- LAYOUT -->
<mat-sidenav-container class="example-container">
    <!-- MENU -->
    <mat-sidenav #sidenav [mode]="'side'">
        <br />
        <p>
            <a routerLink="/lista-usuario">Usuarios</a><br />
            <a routerLink="/produto">Produtos</a>
        </p>
    </mat-sidenav>
    <!-- MENU -->

    <mat-sidenav-content>
        <p style="float: left; width: 10%;"><button mat-button (click)="sidenav.toggle()">Menu</button></p>
        <p style="float: left; width: 90%;">
            My application
        </p>
        <!-- BODY -->
        <div class="body" style="float: left; width: 100%; height: 300px;">
            <router-outlet></router-outlet>
        </div>
        <!-- BODY -->

        <!-- FOOTER -->
        <div class="footer" style="float: left; width: 100%;">
            @Copyright
        </div>
        <!-- FOOTER -->
    </mat-sidenav-content>
</mat-sidenav-container>
<!-- LAYOUT -->